@import "tailwindcss";

@theme {
  --color-primary: #7c3aed;
  --color-bg-primary: #0f0f0f;
  --color-bg-secondary: #1a1a1a;
  --color-bg-card: #1f1f1f;
}

body {
  background-color: var(--color-bg-primary);
  color: white;
}
